build

#localization
po/*.sin
po/*.sed
po/*.header
po/Rules-quot
po/Makevars.template
po/POTFILES
po/en@quot.insert-header
po/stamp-po
*.gmo
po/en@quot.po

#coverage
*.gcno
*.gcda
*.tbx

#visual studio code
.vscode
builddir
checks.json

#sonar
*.properties

#pvs
*.json
*.sarif
*.log
strace_*
.PVS-Studio

#clion
.idea

#git
*.patch
