# This cleans up all kind of different spellings, typos and different email
# addresses for commit authors. It makes git shortlog statistics more meaningful.
#
# More people can be added following this scheme:
# Proper Name <proper@email.xx> Commit Name <commit@email.xx>

Vyacheslav Reutskiy <v.reutskiy@samsung.com> rimmed <v.reutskiy@samsung.com>
Vyacheslav Reutskiy <v.reutskiy@samsung.com> Vyacheslav Reutskiy <v.reutskiy@samsung.com>
Vyacheslav Reutskiy <v.reutskiy@samsung.com> Vyacheslav Reutskiy (rimmed) <v.reutskiy@samsung.com>
Vyacheslav Reutskiy <v.reutskiy@samsung.com> Vyacheslav Reutskiy (rimmed) <v.reutskiy@samsung.com>
Vyacheslav Reutskiy <v.reutskiy@samsung.com> rimmed <rimmed@yandex.ru>
Vyacheslav Reutskiy <v.reutskiy@samsung.com> Vyacheslav Reutskiy <rimmed@yandex.ru>
Vyacheslav Reutskiy <v.reutskiy@samsung.com> rimmed <rimmed@localhost.localdomain>

Mykyta Biliavskyi <m.biliavskyi@samsung.com> Mykyta Biliavskyi <m.biliavskyi@samsung.com>
Mykyta Biliavskyi <m.biliavskyi@samsung.com> m.biliavskyi <m.biliavskyi@samsung.com>
Mykyta Biliavskyi <m.biliavskyi@samsung.com> m.biliavskyi <mbiliavskyi@ubuntu.ubuntu-domain>

Vitalii Vorobiov <vi.vorobiov@samsung.com> Vitalii Vorobiov <vi.vorobiov@samsung.com>
Vitalii Vorobiov <vi.vorobiov@samsung.com> Vorobiov Vitalii <vi.vorobiov@samsung.com>
Vitalii Vorobiov <vi.vorobiov@samsung.com> vi.vorobiov <vi.vorobiov@samsung.com>
