[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=@PACKAGE_VERSION@
Name=EFL Edje Theme Editor
Name[ca]=Editor de tema EFL Edje
Name[de]=EFL-Edje-Themenbearbeitung
Name[fi]=EFL Edje teemaeditori
Name[fr]=Éditeur EFL de thèmes Edje
Name[it]=Editor di temi Edje EFL
Name[ja]=EFL Edje テーマエディタ
Name[ko]=EFL Edje 테마 편집기
Name[ms]=Penyunting Tema Edje EFL
Name[ru]=Редактор тем EFL Edje
Name[sr]=Уредник тема ЕФЛ Едје
Name[tr]=EFL Edje Tema Editörü
Comment=Graphical editor for EFL theme development
Comment[ca]=Editor gràfic pel desenvolupament del tema EFL
Comment[de]=Grafische Bearbeitung für die EFL-Themenentwicklung
Comment[eo]=Redaktilo por EFL etosa programado
Comment[fi]=Graafinen editori EFL:n teemojen muokkaukseen.
Comment[fr]=Éditeur graphique pour le développement de thèmes EFL
Comment[it]=Editor grafico per lo sviluppo di temi per EFL
Comment[ms]=Penyunting bergrafik untuk pembangunan tema EFL
Comment[ru]=Графический редактор для создания тем EFL
Comment[tr]=EFL Tema geliştiricileri için grafik düzenleyici
Icon=eflete
Exec=eflete
Terminal=false
Categories=Development;
